html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("resource/image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainTitle {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
}
.Gen.Checked {
  background-color: #333;
  color: aliceblue;
  border: #333;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
.Gen {
  color: #333;
  border: none;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
.Gen:hover {
  font-size: 15px;
  background-color: hsla(0, 0%, 20%, 0.599);
  color: aliceblue;
}
#ChangesStatement {
  font-size: 10px;
}
#GenSelection {
  z-index: 4;
  margin-bottom: 10px;
}
#pokedex {
  position: relative;
  background-color: rgb(178, 7, 7);
  width: 35vh;
  height: 60vh;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
#display {
  position: relative;
  height: 50%;
  width: 90%;
  margin-top: 12vh;
  margin-bottom: 2.5vh;
  background-color: aliceblue;
  border: 2px black solid;
  border-radius: 5px;
  z-index: 1;
}

#pokemonImage {
  position: relative;
  bottom: 3vh;
  height: 30vh;
  width: 30vh;
}
#scoreDisplay {
  font-size: 3vh;
  margin: 5px;
  color: black;
  font-weight: bold;
}
#heart {
  position: relative;
  width: 2.5vh;
  left: 9.5vh;
  top: 1vh;
}
#lives {
  position: relative;
  left: 14.5vh;
  top: 0.6vh;
  font-size: 2vh;
}
#pokeball {
  height: 4.5vh;
  position: absolute;
  right: 1.5vh;
  top: 5.6vh;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: rotate 3s infinite;
}
#blueCircle {
  position: absolute;
  background: radial-gradient(circle, #bce8f6 20%, #095caa 80%);
  height: 5vh;
  width: 5vh;
  border-radius: 50px;
  border: 2px black solid;
  left: 2vh;
  top: 2vh;
  padding-top: 0.3vh;
}
#line {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

#command-center {
  position: relative;
  bottom: 1.5vh;
  background-color: rgb(93, 92, 92);
  width: 90%;
  height: 25%;
  border: 2px rgb(21, 21, 21) solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.6vh;
}

#displayBar {
  position: absolute;
  background-color: lightsteelblue;
  height: 15%;
  width: 96%;
  border-radius: 10px;
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  top: 0.2vh;
}

#pokemonInput {
  position: absolute;
  background-color: rgb(145, 199, 65);
  width: 50%;
  height: 6vh;
  border: 0.5px black solid;
  text-align: center;
  font-size: 2vh;
  bottom: 0.8vh;
  border-radius: 3px;
}
#dontKnow {
  position: relative;
  background-color: transparent;
  border: transparent;
  bottom: 2vh;
  font-size: 15px;
  width: 60%;
  height: 40%;
  cursor: pointer;
}
